header {
    padding-top: 2rem;
    overflow: hidden;
}

.navbar-nav.navbar-center {
    position: absolute;
    padding-top: 5vh;
    left: 50%;
    transform: translatex(-50%);
}

.nav-link {
    transition: var(--transition);
    font-size: 15px;
} 

.nav-link:hover {
    color: white !important
} 

.header__container {
    text-align: center;
}


hr {
    color: white;
    background: white; 
    width: 100%; 
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
}

.header__socials {
    display: flex;
    gap: 1.2rem;
    margin-top: 10px;
    justify-content: center;
}

.icon {
    color: white;
    transition: var(--transition);
}

.icon:hover {
    color:grey;
}

.introduction {
    /* margin-top: 5px; */
    text-align: center;
}


