/* Import custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* All elements */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Root variables */
:root {
    --color-background-variant: #2c2c6c;
    --color-bg: #28074d;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181,  255, 0.4);
    --color-white: rgb(255, 255, 255);
    --color-light: rgba(255, 255, 255, 0.8);
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: sm;
    --transition: all 400ms ease;

}

/* All html elements */
html {
    scroll-behavior: smooth;
}

/* Disable the scrollbar on the screen */
::-webkit-scrollbar {
    display: none;
}

/* Body elements */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #100441, #1b0361);    color: var(--color-white);
    color: var(--color-white);
    line-height: 1.7;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
   font-weight: 600;
   color: white !important;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

section {
    margin-top: 8rem;
}

section > h2, section > h5 {
   text-align: center;
   color: var(--color-light) 
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
    transition: var(--transition)
}

a:hover {
    color: var(--color-white)
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background: #6c6586;
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

/* Quereies */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    section {
        margin-bottom: 2rem;
    }
}